/* 14213D Azul
FCA311 Naranja
E5E5E5 Gris
FFF Blanco
000 Negro */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

@keyframes arrow {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0.1
  }

  100% {
    opacity: 1;
  }
}


* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

html {
  min-height: 100%;
  background-color: #fafafa;
  color: #262626;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

.section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  margin-bottom: 20px;
}

.section > h3 {
  width: 100%;
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  margin: 0;
  opacity: 0.9;
  overflow-y: visible;
}

#burger-menu {
  cursor: pointer;
}

.burger-menu-list {
  opacity: 0;
  width: 100%;
  transition: opacity 1s;
}

.burger-menu-list li {
  background-color: #fff;
  width: 100%;
  list-style-type: none;
  color: black;
  text-align: left;
  padding-left: 10px;
}

#sidebar {
  display: none;
}

#main {
  position: absolute;
  top: 40px;
}

#cover {
  display: flex;
  justify-content: start;
  padding-top: 30px;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

#cover.section {
  background-image: url("../images/backgrounds/IMG_2771.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}

#cover > img {
  height: 45vh;
}

#cover-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-shadow: 1px 1px 5px black;
}

#cover-info > h1 {
  font-size: 150%;
  text-align: center;
  -webkit-text-stroke: 0.3px black;
  -webkit-text-fill-color: white;
}

.Typewriter {
  margin-bottom: 15px;
  min-width: 300px;
  font-size: 100%;
  text-align: center;
  color: #fff;
}

#social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

#social-list img {
  width: 35px;
}

#social-list > li {
  margin: 2px 5px;
}

#podes p {
  color: white;
}

#podes div {
  
}

#podes button {
  height: 40px;
  width: 150px;
  border: 1px dotted black;
  border-radius: 5px;
  margin: 0 5px;
  opacity: 0.7;
  transition: opacity .5s;
}

#podes button:hover {
  opacity: 1;
}

#continue {
  position: relative;
  top: -130px;
  text-align: center;
}

#arrow {
  animation: arrow 2s infinite;
  transform: rotate(90deg);
  width: 40px;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about > img {
  width: 50%;
}

#about.section {
  padding: 40px;
  text-align: justify;
}

.card {
  margin: 5px;
  height: 98%;
  transition: border 0.1s;
  font-size: 0.5em;
}

.card:hover {
  border: 1px solid #acacac;
  box-shadow: 2px 2px 5px 0 grey, -2px -2px 5px 0 lightgray;
}

.we-card-container {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  place-items: center;
  place-content: center;
}

.work-description-ul {
  list-style-type: square;
}

.work-description-ul li {
  margin-left: 20px;
}

.skills-card-container {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  place-content: center;
}

.skills-card {
  width: 98%;
  padding: 5px;
  box-sizing: border-box;
}

.skills-card > img {
  width: 20px;
  margin-bottom: 1px;
}

#instagram-feed-container {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  place-content: center;
  place-items: center;
  position: relative;
  transition: all 0.1s;
  transition-property: opacity;
}

.instagram-preview {
  position: absolute;
  top: 0;
}

#link-chain {
  width: 140px;
  position: relative;
  top: -150px;
  left: 0;
  display: none;
  transition: all 0.1s;
  transition-property: display;
}

#instagram-feed-container a:hover #link-chain{
  display: block;
  top: -150;
}

#instagram-feed-container a:hover {
  opacity: 0.8;
  margin-bottom: -150px;
}

#projects.section {
  display: flex;
  justify-items: center;
  align-items: center;
}

#projects-card-container {
  width: 450px;
  height: auto;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
  border: 1px solid gray;
}

.projects-card {
  display: inline-block;
}

.contact-form {
  width: 100%;
}

/* ------------------------------------------------------------------------ */

@media only screen and (min-width: 768px) {
  .section {
    padding: 80px;
    width: 80%;
    margin: auto;
  }

  .section-title {
    margin-bottom: 30px;
  }

  #navbar {
    display: none;
  }

  #sidebar-cont {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    max-width: 60px;
    min-width: 60px;
    z-index: 1;
    background-color: #fff;
    overflow-x: visible;
    margin: 0;
    border-right: 1px solid #dbdbdb;
    opacity: 1;
  }

  #sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    opacity: .3;
    transition: opacity .5s;
  }

  #sidebar-cont:hover #sidebar {
    opacity: 1;
  }

  .sidebar-link {
    width: 24px;
    height: 24px;
  }
  
  #sidebar img {
    width: 20px;
    transition: width 0.1s;
  }
  
  #sidebar img:hover {
    width: 23px;
  }

  /* beggining of Sidebar tooltips */

.tooltips {
  position: relative;
  display: inline-block;
  color: black;
  margin: 2.5px 0;
}

.tooltips::before {
  visibility: hidden;
  position: absolute;
  content: "";
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  left: 20px;
  top: 6px;
  transform: rotate(180deg);

}

.tooltips .tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  font-size: .5em;
  position: absolute;
  left: 30px;
  z-index: 1;
}

.tooltips:hover .tooltiptext, .tooltips:hover.tooltips::before {
  visibility: visible;
}

/* end of Sidebar tooltips */

  #main {
    top: 0;
    margin-left: 50px;
  }

  #cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: row;
    color: #000810;
  }

  #cover-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0 0 -10px;
  }

  #cover-info > h1 {
    margin-left: -20px;
    text-align: start;
    font-size: 220%;
  }

  #cover.section {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Typewriter {
    text-align: start;
    font-size: 150%;
  }

  #about {
    flex-direction: row;
  }

  #about > img {
    width: 30%;
  }

  .we-card-container {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    place-content: center;
  }

  .card {
    margin: 5px 5%;
  }

  #instagram-feed-container {
    grid-template-columns: 155px 155px 155px;
    grid-template-rows: 160px 160px 160px 160px;
    gap: 20px;
  }
}

#projects-card-container {
  width: 700px;
}

.contact-form {
  width: 80%;
}

/* ------------------------------------------------------------------------ */

@media only screen and (min-width: 960px){
  .skills-card-container {
    grid-template-columns: 45% 45% 45%;
  }
}
